.container
  .row.justify-content-center.mt-5
    
    .text-end
      -if @textbook.texttitle === 'othertext'
        %h1.fw-bold #{@textbook.notes} #{I18n.t("activerecord.attributes.textbook.grade.#{@textbook.grade}")}   #{I18n.t("activerecord.attributes.textbook.subject.#{@textbook.subject}")}
      -else
        %h1.fw-bold #{I18n.t("activerecord.attributes.textbook.texttitle.#{@textbook.texttitle}")} #{I18n.t("activerecord.attributes.textbook.grade.#{@textbook.grade}")}   #{I18n.t("activerecord.attributes.textbook.subject.#{@textbook.subject}")}

      
    .text-center
      %hr        
      %p.lead.fw-bold 目次
      %hr
        .row.row-cols-auto
          - @textbook.pageimages.order(:title).each_with_index do |pageimage, index|
            .btn.btn-light.m-2
              %a(href="#pageimage_#{index + 1}")
                =pageimage.title


.text-center
  %hr        
  %p.lead.fw-bold 模範解答
  %hr
- @textbook.pageimages.each_with_index do |pageimage, index|
  %h3.ms-3= pageimage.title
  = image_tag pageimage.image, id: "pageimage_#{index + 1}", class: 'mb-3'

.container
  .row.justify-content-center.mt-5
    = link_to '新しいページ画像を追加', new_textbook_pageimage_path(@textbook), class: 'btn btn-primary my-3'

    = link_to "戻る", textbooks_path, class: "btn btn-secondary mb-5"
