.container
  .text-end.mt-5

    .h2.fw-bold
      #{I18n.t("activerecord.attributes.print.grade.#{@print.grade}")} #{human_enum_name('print', 'subject', @print.subject)} 

    .h1.fw-bold
      =@print.title


    %p= @print.notes



- if @print.print_images.attached?
  %hr
  %p.text-center.fw-bold 答案画像
  %hr
  - @print.print_images.each do |image|
    = image_tag image, class: 'max-width'



.container

  = link_to "戻る", prints_path, class: "btn btn-secondary button-class my-5"