- if @test.errors.any?
  #error_explanation
    %h2
      = pluralize(@test.errors.count, "error")
      prohibited this test from being saved:
    %ul
      - @test.errors.full_messages.each do |message|
        %li= message

.container
  .text-end
    %h1.display-4.font-weight-bold NewPastPaperAnswer
    %p.lead 新しい過去問の答えを登録する
    %hr

  .row.justify-content-center
    .col-md-6.text-start

      = form_with model: @test, local: true, html: { class: "needs-validation", novalidate: "" } do |form|
        .form-group.my-3
          = form.label :category,"学校区分", class: 'form-label'
          = form.select :category, Test.categories.keys.map { |k| [human_enum_name('test', 'category', k), k] }, {}, { class: 'form-control' }

        .form-group.my-3
          = form.label :school_name,"学校名", class: 'form-label'
          = form.select :school_name, Test.school_names.keys.map { |k| [human_enum_name('test', 'school_name', k), k] }, {}, { class: 'form-control' }

        .form-group.my-3
          = form.label :year,"年度", class: 'form-label'
          = form.select :year, Test.years.keys.map { |k| [human_enum_name('test', 'year', k), k] }, {}, { class: 'form-control' }

        .form-group.my-3
          = form.label :notes,"備考・その他の学校の場合は学校名", class: 'form-label'
          = form.text_area :notes, class: 'form-control'

          
        
      
        .form-group.my-3
          = form.label :ja_images,"国語", class: 'form-label'
          = form.file_field :ja_images, multiple: true, name: 'test[ja_images][]', class: 'form-control'
        .form-group.my-3
          = form.label :ma_images,"数学", class: 'form-label'
          = form.file_field :ma_images, multiple: true, name: 'test[ma_images][]', class: 'form-control'
        .form-group.my-3
          = form.label :ss_images,"社会", class: 'form-label'
          = form.file_field :ss_images, multiple: true, name: 'test[ss_images][]', class: 'form-control'
        .form-group.my-3
          = form.label :sc_images,"理科", class: 'form-label'
          = form.file_field :sc_images, multiple: true, name: 'test[sc_images][]', class: 'form-control'
        .form-group.my-3
          = form.label :en_images,"英語", class: 'form-label'
          = form.file_field :en_images, multiple: true, name: 'test[en_images][]', class: 'form-control'
    
          

        = form.submit "登録", class: 'btn btn-primary mt-3 form-control mt-5 mb-5'



  = link_to "戻る", tests_path, class: "btn btn-secondary"