.container
  .text-end
    .h2.mt-5.fw-bold
      = I18n.t("activerecord.attributes.test.category.#{@test.category}")

    .h1.fw-bold
      #{I18n.t("activerecord.attributes.test.school_name.#{@test.school_name}")} #{human_enum_name('test', 'year', @test.year)} 

    %p
      = @test.notes



          

- if @test.ja_images.attached?
  %hr
  %p.text-center.fw-bold 国語
  %hr
  - @test.ja_images.each do |image|
    = image_tag image, class: 'max-width'


- if @test.ma_images.attached?
  %hr
  %p.text-center.fw-bold 数学
  %hr
  - @test.ma_images.each do |image|
    = image_tag image, class: 'max-width'


- if @test.ss_images.attached?
  %hr
  %p.text-center.fw-bold 社会
  %hr
  - @test.ss_images.each do |image|
    = image_tag image, class: 'max-width'

- if @test.sc_images.attached?
  %hr
  %p.text-center.fw-bold 理科
  %hr
  - @test.sc_images.each do |image|
    .col-md-4
      = image_tag image, class: 'max-width'

- if @test.en_images.attached?
  %hr
  %p.text-center.fw-bold 英語
  %hr
  - @test.en_images.each do |image|
    = image_tag image, class: 'max-width'
  

.container 
  = link_to "戻る", tests_path, class: "btn btn-secondary button-class my-5"