.container
  .text-end
    .h2.mt-5.fw-bold
      = I18n.t("activerecord.attributes.test.category.#{@test.category}")

    .h1.fw-bold
      #{I18n.t("activerecord.attributes.test.school_name.#{@test.school_name}")} #{human_enum_name('test', 'year', @test.year)} 

    %p
      = @test.notes



  .text-center
    %hr
      .row.row-cols-auto
        - if @test.ja_images.attached?
          .btn.btn-light.m-2
            %a(href="#pageimage_ja")
              国語
        - if @test.ma_images.attached?
          .btn.btn-light.m-2
            %a(href="#pageimage_ma")
              数学
        - if @test.ss_images.attached?
          .btn.btn-light.m-2
            %a(href="#pageimage_ss")
              社会
        - if @test.sc_images.attached?
          .btn.btn-light.m-2
            %a(href="#pageimage_sc")
              理科
        - if @test.en_images.attached?
          .btn.btn-light.m-2
            %a(href="#pageimage_en")
              英語

- if @test.ja_images.attached?
  %hr
  %p.text-center.fw-bold#pageimage_ja 国語
  %hr
  - @test.ja_images.each do |image|
    = cl_image_tag(image.blob.key, class: 'max-width')
    

- if @test.ma_images.attached?
  %hr
  %p.text-center.fw-bold#pageimage_ma 数学
  %hr
  - @test.ma_images.each do |image|
    = cl_image_tag(image.blob.key, class: 'max-width')

- if @test.ss_images.attached?
  %hr
  %p.text-center.fw-bold#pageimage_ss 社会
  %hr
  - @test.ss_images.each do |image|
    = cl_image_tag(image.blob.key, class: 'max-width')

- if @test.sc_images.attached?
  %hr
  %p.text-center.fw-bold#pageimage_sc 理科
  %hr
  - @test.sc_images.each do |image|
    .col-md-4
    = cl_image_tag(image.blob.key, class: 'max-width')

- if @test.en_images.attached?
  %hr
  %p.text-center.fw-bold#pageimage_en 英語
  %hr
  - @test.en_images.each do |image|
    = cl_image_tag(image.blob.key, class: 'max-width')
  

.container.my-5
  = link_to "編集", edit_test_path(@test), class: "btn btn-success button-class mt-5 mb-3"
  = link_to "戻る", tests_path, class: "btn btn-secondary button-class mb-5"