!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ayzanswers2
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %link{href: "#{image_path('favicon.ico')}", rel: "shortcut icon", type: "image/x-icon"}

  %body
    - if flash[:success].present?
      .alert.alert-success
        = flash[:success]

    - if flash[:error].present?
      .alert.alert-danger
        = flash[:error]

    - unless current_page?(root_path)
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          .navbar-header
            %a.font-weight-bold.navbar-brand{ href: root_path } AyzAnswers2
          %ul.navbar-item.d-flex.justify-content-between
            %li
              %a.nav-link{ href: tests_path } 過去問
            %li
              %a.nav-link{ href: textbooks_path } テキスト
            %li
              %a.nav-link{ href: prints_path } その他

      
    = yield

    
